Repository vmware/power-validated-solutions-for-cloud-foundation, pull requests merged in 2024-07, with the labels that each got.

#671 feat:add-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Add-AriaNetworksVcenterDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/New-AriaNetworksLdapConfiguration.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Request-AriaNetworksInternalApiToken.md
  mkdocs.yml
Labels: documentation, feature, needs-review, vvs/inv

#672 refactor: update inv functions
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Add-AriaNetworksVcenterDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/New-AriaNetworksNsxtDataSource.md
Labels: documentation, needs-review, cla-not-required

#673 feat:add-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Get-AriaNetworksLdapConfiguration.md
  mkdocs.yml
Labels: documentation, feature, cla-not-required, vvs/inv

#674 feat:add-inv-function
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Request-AriaNetworksInternalApi.md
  mkdocs.yml
Labels: documentation, feature, cla-not-required, vvs/inv

#676 feat: add parameters to import-vropsnotification
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  SampleNotifications/aria-operations-notifications-srm.json
  SampleNotifications/aria-operations-notifications-vcf.json
  docs/documentation/functions/aria-suite/aria-operations/Import-vROPSNotification.md
  docs/documentation/functions/aria-suite/aria-operations/New-vROPSNotification.md
Labels: documentation, feature, size/m, vvs/iom, samples, cla-not-required

#677 feat: configure idp hostname with cluster fqdn
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, feature, size/s, cla-not-required

#680 refactor:update-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, feature, needs-review, cla-not-required, vvs/inv

#679 feat:add-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Remove-AriaNetworksLdapConfiguration.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Test-AriaNetworksInternalAuthentication.md
  mkdocs.yml
Labels: documentation, feature, cla-not-required, vvs/inv

#682 feat: remove load balancer for automation and ops undo
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  SampleNotifications/aria-operations-notifications-srm.json
  SampleNotifications/aria-operations-notifications-vcf.json
Labels: documentation, feature, size/s, vvs/pca, vvs/iom, samples, cla-not-required

#683 feat:add-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Add-AriaNetworksLdapConfiguration.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Undo-AriaNetworksLdapConfiguration.md
  mkdocs.yml
Labels: documentation, needs-review, cla-not-required

#685 feat: add inv wrapper functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Add-AriaNetworksNsxDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Undo-AriaNetworksNsxDataSource.md
  mkdocs.yml
Labels: documentation, needs-review, size/m, cla-not-required, vvs/inv

#686 feat: enhance invoke-invdeployment
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, feature, size/m, cla-not-required, vvs/inv

#687 feat: install contour and harbour
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/vsphere-tanzu/Add-SupervisorService.md
  docs/documentation/functions/vsphere-tanzu/Undo-SupervisorService.md
Labels: documentation, feature, size/m, vvs/dri, cla-not-required

#689 chore: update inv documentation
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Add-AriaNetworksVcenterDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Undo-AriaNetworksNsxDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Undo-AriaNetworksVcenterDataSource.md
Labels: documentation, needs-review, cla-not-required

#688 refactor: compress content pack
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, refactor, needs-review, vvs/ila, cla-not-required

#693 feat: add additional value checks on pnp extract
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, feature, size/xs, vvs/iam, vvs/pca, vvs/ila, vvs/pdr, vvs/dri, vvs/iom, cla-not-required, vvs/hrm, vvs/inv, vvs/cbr, vvs/ccm

#695 fix: Get-WSADirectory
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, size/s, cla-not-required

#696 fix: changed named cell for supervisor cluster
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, size/xs, vvs/dri, cla-not-required

#694 docs: release preparations
  CHANGELOG.md
  docs/index.md
  docs/requirements.txt
  docs/snippets/copy-module-local-windows.ps1
  docs/snippets/install-module.ps1
  docs/snippets/save-module-local-windows.ps1
Labels: documentation, needs-review, cla-not-required

#698 feat: install content pack
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: enhancement, size/m, vvs/ila, cla-not-required

#699 fix: address pnp named cell changes
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, size/s, vvs/pdr, cla-not-required

#700 fix: pnp and pipeline testing
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/dri/Invoke-DriDeployment.md
Labels: bug, documentation, feature, size/m, vvs/pca, vvs/ila, cla-not-required, vvs/inv

#697 chore(release): v2.11.0
  CHANGELOG.md
  PowerValidatedSolutions.psd1
Labels: documentation, needs-review, chore, cla-not-required
