Repository vmware/power-validated-solutions-for-cloud-foundation, pull requests merged in 2024-04, with the labels that each got.

#559 feat: enhance add-nsxtidentitysourc to validate ad credentials
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Add-NsxtIdentitySource.md
Labels: documentation, enhancement, vvs/iam, cla-not-required

#560 feat: validated solutions menus
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, feature, size/m, vvs/iam, vvs/pca, vvs/ila, vvs/pdr, vvs/dri, vvs/iom, cla-not-required, vvs/hrm, vvs/inv, vvs/cbw, vvs/cbr, vvs/ccm

#561 fix: address end-to-end deployement issues
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, enhancement, vvs/pca, cla-not-required, vvs/hrm

#562 feat: convert export-wsajsonspec to use the global json file
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/workspace-one-access/Export-WsaJsonSpec.md
  docs/documentation/functions/workspace-one-access/Invoke-WsaDirectorySync.md
  docs/documentation/functions/workspace-one-access/New-WSADeployment.md
Labels: documentation, enhancement, cla-not-required

#564 feat: add support for vrslcm role assignment
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-suite-lifecycle/Add-vRSLCMGroup.md
  docs/documentation/functions/aria-suite/aria-suite-lifecycle/Add-vRSLCMGroupRole.md
  docs/documentation/functions/aria-suite/aria-suite-lifecycle/Get-vRSLCMGroup.md
  docs/documentation/functions/aria-suite/aria-suite-lifecycle/Get-vRSLCMRole.md
  docs/documentation/functions/aria-suite/aria-suite-lifecycle/Remove-vRSLCMGroup.md
  docs/documentation/functions/aria-suite/aria-suite-lifecycle/Undo-vRSLCMGroupRole.md
  mkdocs.yml
Labels: documentation, enhancement, cla-not-required

#565 feat: add Request-AriaNetworksToken cmdlet
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Request-AriaNetworksToken.md
  mkdocs.yml
Labels: documentation, feature, needs-review, size/s, cla-not-required, vvs/inv

#567 feat: prerequisite functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/dri/Test-DriPrerequisite.md
  docs/documentation/functions/solutions/dri/index.md
  docs/documentation/functions/solutions/iam/Test-IamPrerequisite.md
  docs/documentation/functions/solutions/iam/index.md
  docs/documentation/functions/solutions/pca/Test-PcaPrerequisite.md
  docs/documentation/functions/solutions/pca/index.md
  mkdocs.yml
Labels: bug, documentation, feature, vvs/iam, vvs/pca, vvs/dri, cla-not-required

#568 feat: add ila prerequisite function
  CHANGELOG.md
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/ila/Test-IlaPrerequisite.md
  docs/documentation/functions/solutions/ila/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, vvs/ila, cla-not-required

#569 feat: add iom prerequisite function
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/dri/index.md
  docs/documentation/functions/solutions/ila/index.md
  docs/documentation/functions/solutions/iom/Test-IomPrerequisite.md
  docs/documentation/functions/solutions/iom/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, vvs/iom, cla-not-required

#570 feat: additional prerequisite functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/cbr/Test-CbrPrerequisite.md
  docs/documentation/functions/solutions/cbr/index.md
  docs/documentation/functions/solutions/cbw/Test-CbwPrerequisite.md
  docs/documentation/functions/solutions/cbw/index.md
  docs/documentation/functions/solutions/ccm/Test-CcmPrerequisite.md
  docs/documentation/functions/solutions/ccm/index.md
  docs/documentation/functions/solutions/hrm/Remove-PhotonAppliance.md
  docs/documentation/functions/solutions/hrm/Test-HrmPrerequisite.md
  docs/documentation/functions/solutions/hrm/index.md
  mkdocs.yml
Labels: documentation, size/m, cla-not-required, vvs/hrm, vvs/cbw, vvs/cbr, vvs/ccm

#572 fix: vrops adapter creation
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, size/m, vvs/iom, cla-not-required

#573 fix: missing domain for vrops credentials
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, size/s, vvs/iom, cla-not-required

#571 feat: export inv json
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/inv/Export-InvJsonSpec.md
  docs/documentation/functions/solutions/inv/index.md
  mkdocs.yml
Labels: documentation, enhancement, size/s, cla-not-required, vvs/inv

#581 fix: drs group creation for workspace one access
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, size/s, cla-not-required

#582 fix: iam error when setting permissions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  vSphereRoles/vlcr-vsphere-integration.role
Labels: bug, documentation, enhancement, size/s, vvs/iam, cla-not-required, vvs/cbw, vvs/cbr

#575 feat: enhance certificate functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-automation/Request-vRAMscaSignedCertificate.md
  docs/documentation/functions/aria-suite/aria-operations-logs/Request-vRLIMscaSignedCertificate.md
  docs/documentation/functions/aria-suite/aria-operations/Request-vROPSMscaSignedCertificate.md
  docs/documentation/functions/certificates/Invoke-GenerateChainPem.md
  docs/documentation/functions/certificates/Invoke-GeneratePrivateKeyAndCsr.md
  docs/documentation/functions/certificates/Invoke-RequestSignedCertificate.md
  docs/documentation/functions/certificates/Request-SignedCertificate.md
  docs/documentation/functions/solutions/ila/index.md
  docs/documentation/functions/solutions/iom/index.md
  docs/documentation/functions/solutions/pca/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, vvs/pca, vvs/ila, vvs/iom, cla-not-required

#585 feat: add support for logging output to a file
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, feature, cla-not-required

#586 fix: dri oneclick exiting
  .vscode/settings.json
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, needs-review, size/m, vvs/dri, cla-not-required

#584 feat: add inv functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Get-AriaNetworksDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Get-AriaNetworksNodes.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Request-AriaNetworksToken.md
  mkdocs.yml
Labels: documentation, enhancement, needs-review, cla-not-required

#587 feat: enhance prerequisite functions
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: enhancement, size/m, vvs/iam, vvs/pca, vvs/ila, vvs/dri, vvs/iom, cla-not-required, vvs/hrm, vvs/cbw, vvs/cbr, vvs/ccm

#588 feat: add prerequisite check for pdr
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/pdr/Test-PdrPrerequisite.md
  docs/documentation/functions/solutions/pdr/index.md
  mkdocs.yml
Labels: documentation, feature, size/s, vvs/pdr, cla-not-required

#592 feat: enhance backup-vmovfproperties to skip missing aria products
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, size/m, vvs/pdr, cla-not-required

#593 fix: enhance invoke-drideployment to auto-generate yaml file
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  SampleYaml/tanzuClusterTemplate.yaml
Labels: documentation, enhancement, size/m, vvs/dri, samples, cla-not-required
