Repository vmware/power-validated-solutions-for-cloud-foundation, pull requests merged in 2024-08, with the labels that each got.

#704 refactor: inv wrapper functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: refactor, cla-not-required, vvs/inv

#707 feat: update `Get-LocalAccountLockout` to return status instead of null
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, needs-review, cla-not-required

#710 fix: kubectl path in JSON
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: enhancement, size/s, vvs/dri, cla-not-required

#712 feat: hrm deployment to correct portgroup
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/hrm/Deploy-PhotonAppliance.md
Labels: documentation, enhancement, size/s, cla-not-required, vvs/hrm

#713 fix: pdr deployment of appliances
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/site-recovery-manager/Install-SiteRecoveryManager.md
  docs/documentation/functions/vsphere-replication/Install-vSphereReplicationManager.md
Labels: documentation, enhancement, size/m, vvs/pdr, cla-not-required

#714 fix: replication ips for vsphere replication
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, size/s, vvs/pdr, cla-not-required

#715 feat: add support for token request of nsx global managers
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, feature, size/s, cla-not-required

#716 fix: global property change in pt
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, size/s, cla-not-required

#717 feat:add-low-level-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/supporting/Test-PrereqDnsEntries.md
  mkdocs.yml
Labels: documentation, cla-not-required

#718 chore(release): v2.11.1
  CHANGELOG.md
  PowerValidatedSolutions.psd1
Labels: needs-review, chore, cla-not-required

#720 feat: join cluster for global managers
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Add-NsxtGlobalManagerClusterNode.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerCluster.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerClusterStatus.md
  docs/documentation/functions/nsx/Join-NsxtGlobalManagerCluster.md
  docs/documentation/functions/nsx/Remove-NsxtGlobalManagerClusterNode.md
Labels: documentation, feature, size/l, cla-not-required

#721 feat: assign virtual ip to global manager cluster
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Add-NsxtGlobalManagerVirtualIp.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerClusterVirtualIp.md
  docs/documentation/functions/nsx/Remove-NsxtGlobalManagerClusterVirtualIp.md
  docs/documentation/functions/nsx/Set-NsxtGlobalManagerClusterVirtualIp.md
  docs/documentation/functions/nsx/Undo-NsxtGlobalManagerVirtualIp.md
  mkdocs.yml
Labels: documentation, feature, size/l, cla-not-required

#722 feat: create rtep ip pool
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Add-NsxtRemoteTunnelEndpoint.md
  docs/documentation/functions/nsx/Get-NsxtIpPool.md
  docs/documentation/functions/nsx/Get-NsxtIpPoolSubnet.md
  docs/documentation/functions/nsx/New-NsxtIpPool.md
  docs/documentation/functions/nsx/New-NsxtIpPoolSubnet.md
  docs/documentation/functions/nsx/Remove-NsxtIpPool.md
  docs/documentation/functions/nsx/Remove-NsxtIpPoolSubnet.md
  docs/documentation/functions/nsx/Set-NsxtMtuRemoteTunnelEndpoint.md
  docs/documentation/functions/nsx/Test-NSXTAuthentication.md
  docs/documentation/functions/nsx/Test-NSXTConnection.md
  docs/documentation/functions/nsx/Undo-NsxtRemoteTunnelEndpoint.md
  mkdocs.yml
Labels: documentation, feature, size/l, cla-not-required

#723 feat: nsx global manager supporting apis
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Get-NsxtGlobalManager.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerConfig.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerOperationalState.md
  docs/documentation/functions/nsx/Test-NsxtAuthentication.md
  docs/documentation/functions/nsx/Test-NsxtConnection.md
  mkdocs.yml
Labels: documentation, feature, size/m, cla-not-required

#724 feat: nsx federation json spec
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/fed/Export-NsxFederationJsonSpec.md
  docs/documentation/functions/solutions/fed/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, cla-not-required

#725 feat: nsx federation invoke function
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/fed/Invoke-NsxFederationDeployment.md
  docs/documentation/functions/solutions/fed/index.md
  mkdocs.yml
Labels: documentation, feature, size/l, cla-not-required

#726 chore: remove alias for request-nsxttoken
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, size/xs, chore, cla-not-required

#727 feat: configure nsx global manager mode(active or standby)
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, cla-not-required

#730 feat: add documentation for nsxt global manager
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Add-NsxtGlobalManagerMode.md
  docs/documentation/functions/nsx/Set-NsxtGloblaManagerActive.md
  docs/documentation/functions/nsx/Set-NsxtGloblaManagerStandby.md
  docs/documentation/functions/nsx/Test-NsxtVersionCompatibility.md
  mkdocs.yml
Labels: documentation, feature, size/m, cla-not-required

#732 feat: add locations to global manager
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerLocation.md
  docs/documentation/functions/nsx/New-NsxtGlobalManagerLocation.md
  docs/documentation/functions/nsx/Remove-NsxtGlobalManagerLocation.md
  mkdocs.yml
Labels: documentation, feature, size/m, cla-not-required

#733 feat: add location to end-to-end
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/nsx/Add-NsxtGlobalManagerLocation.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerBackupOverview.md
  docs/documentation/functions/nsx/Get-NsxtGlobalManagerOnBoarding.md
  docs/documentation/functions/nsx/Set-NsxtTransportNode.md
  docs/documentation/functions/nsx/Start-NsxtBackup.md
  docs/documentation/functions/nsx/Start-NsxtGlobalManagerOnBoarding.md
  mkdocs.yml
Labels: documentation, feature, size/l, cla-not-required

#735 feat:add-prereq-dns-checks
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, needs-review, cla-not-required
