Repository vmware/power-validated-solutions-for-cloud-foundation, pull requests merged in 2024-06, with the labels that each got.

#639 feat: enhance install-vrslcmcertificate pre-check
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, size/s, cla-not-required

#640 feat: add support for avn selection in Test-PrereqApplicationVirtualN…
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, size/xs, vvs/pca, vvs/ila, vvs/pdr, vvs/iom, cla-not-required, vvs/hrm

#641 feat: add solution interop for ila
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/ila/Invoke-IlaSolutionInterop.md
  docs/documentation/functions/solutions/ila/Invoke-UndoIlaSolutionInterop.md
  docs/documentation/functions/solutions/ila/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, vvs/ila, cla-not-required

#642 feat: add iom solution interop
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/ila/index.md
  docs/documentation/functions/solutions/iom/Invoke-IomSolutionInterop.md
  docs/documentation/functions/solutions/iom/Invoke-UndoIomSolutionInterop.md
  docs/documentation/functions/solutions/iom/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, vvs/iom, cla-not-required

#644 feat: add cbw solution interop
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/cbw/Invoke-CbwSolutionInterop.md
  docs/documentation/functions/solutions/cbw/Invoke-UndoCbwSolutionInterop.md
  docs/documentation/functions/solutions/cbw/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, cla-not-required, vvs/cbw

#646 feat: add-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/New-AriaNetworksvCenterDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Remove-AriaNetworksDataSource.md
  mkdocs.yml
Labels: documentation, needs-review, cla-not-required

#647 fix: order of nsx syslog configuration
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, size/m, vvs/ila, cla-not-required

#648 fix: error in aria operations certificate creation
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  Update-vRSLCMPSPack.ps1
Labels: documentation, size/l, vvs/pca, vvs/ila, vvs/iom, cla-not-required, vvs/inv

#649 fix: anti-affinity for az and workspace one access
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, documentation, size/s, cla-not-required

#650 feat: add cbr solution interop
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  SampleScripts/iam/iamSolutionInteroperability.ps1
  SampleScripts/ila/ilaSolutionInteroperability.ps1
  SampleScripts/ila/ilaUndoSolutionInteroperability.ps1
  SampleScripts/iom/iomSolutionInteroperability.ps1
  docs/documentation/functions/solutions/cbr/Invoke-CbrSolutionInterop.md
  docs/documentation/functions/solutions/cbr/Invoke-UndoCbrSolutionInterop.md
  docs/documentation/functions/solutions/cbr/index.md
  mkdocs.yml
Labels: documentation, feature, size/s, samples, cla-not-required, vvs/cbr

#652 feat: add pca solution interop
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-automation/New-vRAvROPSIntegrationItem.md
  docs/documentation/functions/aria-suite/aria-operations/Update-vROPSvRAAdapterCredential.md
  docs/documentation/functions/solutions/iom/index.md
  docs/documentation/functions/solutions/pca/Invoke-PcaSolutionInterop.md
  docs/documentation/functions/solutions/pca/Invoke-UndoPcaSolutionInterop.md
  docs/documentation/functions/solutions/pca/index.md
  mkdocs.yml
Labels: documentation, feature, size/m, vvs/pca, cla-not-required

#653 feat: add pdr solution interop
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/solutions/pdr/Invoke-PdrSolutionInterop.md
  docs/documentation/functions/solutions/pdr/Invoke-UndoPdrSolutionInterop.md
  docs/documentation/functions/solutions/pdr/index.md
  docs/documentation/functions/vsphere/Undo-SsoUser.md
  mkdocs.yml
Labels: documentation, feature, size/l, vvs/pdr, cla-not-required

#655 chore: improvement to menu output
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: enhancement, chore, cla-not-required

#654 feat: add-inv-functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/New-AriaNetworksNsxtDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/New-AriaNetworksvCenterDataSource.md
  mkdocs.yml
Labels: documentation, needs-review, cla-not-required

#656 feat: add folder placement for iom
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: feature, size/s, vvs/iom, cla-not-required

#657 refactor: update inv functions
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/New-AriaNetworksNsxtDataSource.md
Labels: documentation, needs-review, cla-not-required

#659 chore: remove cbw menu
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: chore, cla-not-required, vvs/cbw

#660 feat: add recovery site configuration to pdr end-to-end
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, size/m, vvs/pdr, cla-not-required

#661 feat: enhance import-vropsnotifications
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  SampleNotifications/aria-operations-notifications-srm.csv
  SampleNotifications/aria-operations-notifications-srm.json
  SampleNotifications/aria-operations-notifications-vcf.csv
  SampleNotifications/aria-operations-notifications-vcf.json
  docs/documentation/functions/aria-suite/aria-operations/Import-vROPSNotification.md
  docs/documentation/functions/aria-suite/aria-operations/New-vROPSNotification.md
Labels: documentation, enhancement, feature, size/l, vvs/pdr, vvs/iom, samples, cla-not-required

#662 feat: increase tanzu distrubution support
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, enhancement, size/xs, vvs/dri, cla-not-required

#663 feat: add-inv-function
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Update-AriaNetworksvCenterDataSourceCredentials.md
  mkdocs.yml
Labels: documentation, needs-review, cla-not-required

#664 feat: add inv function
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Update-AriaNetworksNsxtDataSourceCredentials.md
  mkdocs.yml
Labels: documentation, needs-review, cla-not-required

#667 feat: enhance Register-vROPSManagementPack to handle VCFDiagnostics
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: documentation, feature, needs-review, size/s, vvs/iom, cla-not-required

#668 chore: code clean up on dri
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: size/xs, chore, vvs/dri, cla-not-required

#669 feat: add vcenter data source to inv
  CHANGELOG.md
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
  docs/documentation/functions/aria-suite/aria-operations-networks/Add-AriaNetworksVcenterDataSource.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Test-AriaNetworksAuthentication.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Test-AriaNetworksConnection.md
  docs/documentation/functions/aria-suite/aria-operations-networks/Undo-AriaNetworksVcenterDataSource.md
  docs/documentation/functions/solutions/inv/index.md
  mkdocs.yml
Labels: documentation, feature, size/xl, cla-not-required, vvs/inv

#670 fix: module automatic import
  PowerValidatedSolutions.psd1
  PowerValidatedSolutions.psm1
Labels: bug, needs-review, size/m, chore, cla-not-required
